<form class="container d-flex align-items-center justify-content-center" style="height: 100vh;" action="/"
  method="POST">
  <div class="card shadow rounded-4" style="width: 46rem; height: 32rem;">
    <div class="mx-auto">
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        class="card-img-top mt-5" style="width: 15rem;" alt="url">
    </div>
    <div class="card-body mt-3 mb-3">

      <div class="d-flex justify-content-start align-items-center mt-3">
        {{#if shortUrl }}
        <span class="mx-3 p-1 bg-info flex-fill rounded">
          <h4 class="card-title mx-2 text-light" style="text-align: center;">Success!</h4>
        </span>
        {{else }}

          {{#if warning }}
          <span class="mx-3 p-1 bg-warning flex-fill rounded">
            <h4 class="card-title mx-2 text-light" style="text-align: center;">The URL is not valid!</h4>
          </span>
          {{else }}
          <span class="mx-3 p-1 bg-primary flex-fill rounded">
            <h4 class="card-title mx-2 text-light" style="text-align: center;">URL Shortener</h4>
          </span>
          {{/if}}

        {{/if}}
      </div>

      {{#if shortUrl }}
      <div class="d-flex justify-content-start align-items-center mt-4 mx-3">
        <input class="card-text flex-fill me-3 py-2" value="{{ shortUrl }}"></input>
        <button type="submit" class="btn btn-secondary btn-lg ms-auto">Copy</button>
        <a href="/" class="btn btn-warning btn-lg ms-2">Back</a>
      </div>
      {{else }}
      <div class="d-flex justify-content-start align-items-center mt-4 mx-3">
        <input class="card-text flex-fill me-3 py-2" name="originalUrl" placeholder=" Paste the URL to be shortened"
          required></input>
        <button type="submit" class="btn btn-warning btn-lg ms-auto">Submit</button>
      </div>
      {{/if}}

    </div>
  </div>
</form>